allow qti_init_shell default_prop:file { getattr  map  open  read };
allow qti_init_shell exported_system_radio_prop:file { getattr  map  open  read };
allow qti_init_shell qti_init_shell:capability { dac_read_search };
